<!-- footer -->
    <footer class="footer-emp-w3ls py-5">
        <div class="container">
			<h1 class="footer-logo"> <a href="/"><img class="logo-img" src="{{{global.img_logo_footer}}}"/></a></h1>

            <ul class="center social-info">
                {{#global.footer.social.facebook.show_or_hide}}
                <li><a href="{{{global.footer.social.facebook.link}}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                {{/global.footer.social.facebook.show_or_hide}}

                {{#global.footer.social.twitter.show_or_hide}}
                <li><a href="{{{global.footer.social.twitter.link}}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                {{/global.footer.social.twitter.show_or_hide}}
                
                {{#global.footer.social.linkedin.show_or_hide}}
                <li><a href="{{{global.footer.social.linkedin.link}}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                {{/global.footer.social.linkedin.show_or_hide}}
                
                {{#global.footer.social.instagram.show_or_hide}}
                <li><a href="{{{global.footer.social.instagram.link}}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                {{/global.footer.social.instagram.show_or_hide}}
                
                {{#global.footer.social.youtube.show_or_hide}}
                <li><a href="{{{global.footer.social.youtube.link}}}" target="_blank"><i class="fa fa-youtube"></i></a></li>
                {{/global.footer.social.youtube.show_or_hide}}

                {{#global.footer.social.github.show_or_hide}}
                <li><a href="{{{global.footer.social.github.link}}}" target="_blank"><i class="fa fa-github"></i></a></li>
                {{/global.footer.social.github.show_or_hide}}

                {{#global.footer.social.dribbble.show_or_hide}}
                <li><a href="{{{global.footer.social.dribbble.link}}}" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                {{/global.footer.social.dribbble.show_or_hide}}
            </ul>

            <p class="center vertex"><a href="https://www.vertex360.co/" target="_blank"><img src="https://lh3.googleusercontent.com/KjJJoRkwqCLOzvHn2NSvrni-yAzkxDFEa0no3q2h-yMQIO16s9BZ3DfELb4RupfIELinrnDcotuEaLtCQXm1qF2B"/></a></p>
       </div>
    </footer>
    <!-- //footer -->

    <!-- copyright -->
    <div class="copy-right-top border-top">
        <p class="copy-right text-center py-4">&copy; 2019 Digital. All Rights Reserved | Design by
            <a href="http://w3layouts.com/"> W3layouts </a>
        </p>
    </div>
    <!-- //copyright -->	